---
layout: default
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      {% if post.img %}
      <div class="catalogue-image">
        {% if post.img_thumb %}
        <img src="{{ '/assets/images/' | prepend: site.baseurl | append: post.img_thumb }}" title="{{ post.title }}" />
        {% else %}
        <img src="{{ '/assets/images/' | prepend: site.baseurl | append: post.img }}" title="{{ post.title }}" />
        {% endif %}
      </div>
      {% endif %}
      <div>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>
        <div class="catalogue-info">
          <img src="{{ "/assets/clock-blue.png" | relative_url }}" />
          {% if site.germandate %}
          {% include date-german.html date=post.date showDay=true %}
          <time datetime="{{ post.date }}" class="catalogue-meta">{{ formattedDate }}</time>
          {% else %}
          <time datetime="{{ post.date }}" class="catalogue-meta">{{ post.date | date: "%B %d, %Y" }}</time>
          {% endif %}
          <span class="seperator">&nbsp;/&nbsp;</span>
          <img src="{{ "/assets/tags-blue.png" | relative_url }}" />
          <span class="catalogue-meta">{{ post.tags | sort | join: ", " }}</span>
        </div>
        <p>
          {{ post.content | strip_html | truncatewords: 40 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
